{% extends './base.html' %} 
{% comment %} ###INDEX PAGE### {% endcomment %}

{% block content %}

  <div class="htmlPageContent">
    <h2>Welcome to Progety</h2>
    <p>Where every command has a story to tell</p>

    <hr>

    <h3>Latest Terms</h3>
    {% if termDictionary %}
    <ul class="newTerms">  
    {% for term in termDictionary %}
        
          <li><a href="{{term}}">{{term}}</a></li>
        
      {% endfor %}
    </ul>
    {% else %}
            <p>No New Terms</p>
    {% endif %}
        
  </div>

{% endblock %}